Options +FollowSymLinks
IndexIgnore /
Options -Indexes
# follow symbolic links
Options FollowSymlinks
RewriteEngine on
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} ^.*$
RewriteRule ^(.*)$ /web/$1