<!DOCTYPE html> 
<html lang = "zh-cn">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>解冻企业金额</title>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://v3.bootcss.com/examples/starter-template/starter-template.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</head>
<body class = "container">
<?php
echo $this->renderFile("@app/views/site/admin/header.html", ['navs' => $navs]);
?>
<div class = "container" width = "500px">
 <form action="" method="post" accept-charset="utf-8" >
    <div class="col-lg-6">
        <!-- <div class="input-group">
            <input type="text" class="form-control" placeholder="金额（单位：分）" name = "amount">
            <span class="input-group-btn">
            </span>
        </div>/input-group -->
		<div class="input-group">
            <input type="text" class="form-control" placeholder="公司的id精确匹配" name = "company_id">
            <span class="input-group-btn">
            </span>
        </div><!-- /input-group -->
        <input type="submit" name="name" value="解冻" class = "btn btn-default">
    </div><!-- /.col-lg-6 -->
</form>   
<pre>
<?php
	var_dump($data);
?>
</pre>
</div>
</body>
</html>
