<!DOCTYPE html> 
<html lang = "zh-cn">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">

<title>常见问题</title>

<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="http://v3.bootcss.com/examples/starter-template/starter-template.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="http://v3.bootcss.com/assets/js/ie-emulation-modes-warning.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://v3.bootcss.com/assets/js/ie10-viewport-bug-workaround.js"></script>

</head>
<body class = "container">
<?php
echo $this->renderFile("@app/views/site/admin/header.html", ['navs' => $navs]);
?>
<style type="text/css" media="screen">
#list{
	float:left;
	width:300px;
	margin:50px 0;
	position:fixed;
	top:50px;
}

#container {
	width:750px;
	float:right;
}
</style>
<div class = "container" style = "width:1070px">
	<div class="col-sm-4" id = "list">
		<ul class="list-group">
			<li class = "list-group-item">
				<a href = "#bank">如何选择支行</a>
			</li>
			<li class = "list-group-item">
				<a href = "#charge">充值不到账</a>
			</li>
			<li class = "list-group-item">
				<a href = "#draw">提现的不到账</a>
			</li>
			<li class = "list-group-item">
				<a href = "#wage">发工资失败</a>
			</li>
		</ul>
	</div>
	<div class = "container" id = "container">
		<div name="bank" class = "well" id = "bank">
			<p>推荐选择首先选择省,再选择市,支行的选择支持模糊搜索</p>
			<p>比如 <b>中原银行股份有限公司郑州曼哈顿支行</b>,开户银行如果清楚的话,可以选择 城市商业银行,不清楚的话,可以不选择,
			或者是选择其他银行,一旦选择了其他银行,会默认从全部银行中查询,也就是虽然选择的是其他银行,但是中国银行,建设银行的支行信息也会给出来.
			</p>
			<p>省市信息为必选,选择河南,再选择郑州</p>
			<p>支行中输入 <b>中原</b>,河南->郑州的所有名字中包含 <b>中原</b> 字样的支行信息都会在下拉菜单中,如果输入 <b>中原 空格 曼哈顿</b>,则 <b>中原银行股份有限公司郑州曼哈顿支行</b> 会被匹配到</p>
			<p>如果确实选择不到对应的支行,可以选择对应的总行,或者当地的分行,可以正常提现充值</p>
			<p>支行信息不存在对应的,只会影响提现,不会影响充值</p>

		</div>	
		<div name="charge" class = "well" id = "charge">
			<ol type = "1">
				<li>公司名称有误,与银行流水信息不符</li>
				<li>账户填错了</li>
				<li>没有填写备注信息,或者备注信息填错了</li>
				<li>在银行还未到账,正常30分钟可以到账,周五或者下班之后对公账户很慢,30分钟不会到</li>
				<li>没有使用对公账户,用的是个人账户</li>
				<li>未注册先充值</li>
				<li>银行自动退款,原因企业可以查看退款记录</li>
			</ol>
			<p>目前只要支付杨佳能够看到所有的企业冲入金百仕账号的流水</p>
		</div>	
		<div name="draw" class = "well" id = "draw">
			<ol type = "1">
				<li>支行信息错误,不是真正的企业真实的对公账号</li>
				<li>支付系统bug,银行拒绝处理</li>
			</ol>
		</div>	
		<div name="wage" class = "well" id = "wage">
			<ol type = "1">
				<li>用户本身信息错误,已经更换手机号,未通知财务</li>
				<li>支付系统手机号与用户中心手机号不一致,导致发工资失败</li>
			</ol>
		</div>	
	</div>
</body>
</html>
